body {
    background-color: rgb(25, 25, 25);
}

@font-face {
    font-family: 'Mplusrounded1c';
    src: url('/media/fonts/MPLUSRounded1c-Regular.ttf');
}

.main{
    width: 40%;
    /*font-family: Mplusrounded1c;*/
}

.circle {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}